body {
    background-color: #242442;
}

h1#name {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    padding-left: 180px;
    padding-top: 100px;
}

h1#resume{
    text-align: center;
    padding-right: 375px;
}

h1#center{
    text-align: center;
}

h1#courses{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}

h2#profilepic{
    padding-right: 70px;
    padding-top: 30px;
}

h2#schoolpic{
    padding-right: 70px;
}

h2#projectpic{
    width: 300px;
    height: 300px;
}

h3#general{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-decoration: underline;
    padding-left: 100px;
}

p#about{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding-left: 50px
}

p#desc{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-left: 50px;
}

table#skills{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}

table#projects{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding-bottom: 25px;
}

td#skills{
    padding-left: 25px;
    padding-right: 25px;
}

tr#courses{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

table#header{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    float: right;
    text-align: center;
    text-decoration: underline
}

table#experience{
    padding-bottom: 50px;
}

td#header{
    padding-left: 25px;
    padding-right: 25px;
}

ul#experience_desc1{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-left: 50px;
}

ul#experience_desc2{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-left: 115px;
}

.button{
    background-color: #242442;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.button:hover {
    background-color: #000066;
  }

  p#footer{
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      text-align: center;
      padding-top: 100px;
  }